html, body {
    font-family: helvetica, sans-serif;
    font-size: small;
}
@mixin no-bullets {
    list-style: none;
    li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0px;
    }
    li.title {
        font-weight: bold;
    }
}
@mixin clear-fix {
    &:before, &:after {
        content:" ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
@mixin ticker($size) {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin: 25px 30px 25px;
}
table.no-borders-additional-spacing {
    background-color: white;
    th, td {
        background-color: white;
        vertical-align: middle;
        padding: 1em;
        border: none;
    }
}
.header {
    padding-top:35px;
    clear: both;
    min-height: 70px;
    img {
        position: absolute;
        top: 15px;
        left: 70%;
    }
}
.u-three-columns {
    @include clear-fix;
    padding: 20px 5px;
    > h3 {
        text-align: center;
        font-weight: bold;
    }
    > div.first {
        float: left;
        width: 50%;
    }
    > div.second {
        float: left;
        width: 20%;
    }
    > div.third {
        margin-left: 70%;
    }
    &.border {
        border: 1px solid black;
    }
    &.fifty-twenty-thirty {
        > div.first {
            float: left;
            width: 50%;
        }
        > div.second {
            float: left;
            width: 20%;
        }
        > div.third {
            margin-left: 70%;
        }
    }
    &.twenty-fourty-fourty {
        > div.first {
            float: left;
            width: 20%;
        }
        > div.second {
            float: left;
            width: 40%;
        }
        > div.third {
            margin-left: 60%;
        }
    }
}
.u-two-columns {
    @include clear-fix;
    > div:nth-child(1) {
        float: left;
        width: 50%;
    }
    > div:nth-child(2) {
        margin-left: 50%;
    }
    &.twenty-eighty {
        > div:nth-child(1) {
            width: 20%;
        }
        > div:nth-child(2) {
            margin-left: 20%;
        }
    }
    &.seventy-thirty {
        > div:nth-child(1) {
            width: 70%;
        }
        > div:nth-child(2) {
            margin-left: 70%;
        }
    }
    &.sixty-fourty {
        > div:nth-child(1) {
            width: 60%;
        }
        > div:nth-child(2) {
            margin-left: 60%;
        }
    }
}
.u-centre {
    text-align: center;
}
.u-right {
    text-align: right;
}
.u-ticker {
    @include ticker(30px);
}
.u-line-entry {
    border-bottom: 1px solid black;
    margin-top: 30px;
    margin-right: 15px;
}
[class^="u-icon-"], [class*="u-icon-"] {
    display:inline-block;
    width:14px;
    height:14px;
    margin-top:1px;
    *margin-right:.3em;
    line-height:14px;
    vertical-align:text-top;
    background-image:url("../images/glyphicons-halflings.png");
    background-position:14px 14px;
    background-repeat:no-repeat
}
.u-icon-ok {
    background-position:-288px 0;
}
.padded-box {
    margin: 10px 0 30px 0;
    padding: 10px;
    border: 1px solid black;
    >h4 {
        font-weight: bold;
    }
}
.photo {
    width: 390px;
    height: 360px;
    background-image: url("../images/photo2.png");
    background-repeat: no-repeat;
}
.priority {
    width: 45%;
    margin-left: 50%;
    border: 1px solid black;
    font-weight: bold;
    line-height: 2;
    padding: 0 8px;
    span {
        display: inline-block;
        width: 50%;
        border-right: 1px solid black;
        margin-right: 16px;
    }
}
.questionaire {
    th, td {
        vertical-align: top;
        padding: 0.3em 0.5em 0.3em 1em;
    }
    td {
        background-color: white;
        border: none;
    }
    td.question {
        text-align: right;
    }
    td.answer {
        font-weight: bold;
    }
}

div.footer {
    .gwf-id {
        position: running(gwf-id);
    }

    .cover-sheet-applicant-name {
        position: running(cover-sheet-applicant-name);
    }
}

@page {
    
    @bottom-left {
        font-family: helvetica, sans-serif;
        border-top: 1px solid #A1ACB2;
        content: element(gwf-id);
        font-size: 90%;
        text-align:left;
    }

    @bottom-center {
        font-family: helvetica, sans-serif;
        border-top: 1px solid #A1ACB2;
        content: element(cover-sheet-applicant-name);
        font-size: 90%;
    }
}

