@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\000031}}
html, body {
  font-family: helvetica, sans-serif;
  font-size: small;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000333}}
table.no-borders-additional-spacing {
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000335}}
table.no-borders-additional-spacing th, table.no-borders-additional-spacing td {
  background-color: white;
  vertical-align: middle;
  padding: 1em;
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000343}}
.header {
  padding-top: 35px;
  clear: both;
  min-height: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000347}}
.header img {
  position: absolute;
  top: 30px;
  left: 70%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000353}}
.u-three-columns {
  padding: 20px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000318}}
.u-three-columns:before, .u-three-columns:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000322}}
.u-three-columns:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000357}}
.u-three-columns > h3 {
  text-align: center;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000362}}
.u-three-columns > div.first {
  float: left;
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000366}}
.u-three-columns > div.second {
  float: left;
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000370}}
.u-three-columns > div.third {
  margin-left: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000373}}
.u-three-columns.border {
  border: 1px solid black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000377}}
.u-three-columns.fifty-twenty-thirty > div.first {
  float: left;
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000381}}
.u-three-columns.fifty-twenty-thirty > div.second {
  float: left;
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000385}}
.u-three-columns.fifty-twenty-thirty > div.third {
  margin-left: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000391}}
.u-three-columns.twenty-fourty-fourty > div.first {
  float: left;
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000395}}
.u-three-columns.twenty-fourty-fourty > div.second {
  float: left;
  width: 40%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000399}}
.u-three-columns.twenty-fourty-fourty > div.third {
  margin-left: 60%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000318}}
.u-two-columns:before, .u-two-columns:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\0000322}}
.u-two-columns:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003107}}
.u-two-columns > div:nth-child(1) {
  float: left;
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003111}}
.u-two-columns > div:nth-child(2) {
  margin-left: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003115}}
.u-two-columns.twenty-eighty > div:nth-child(1) {
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003118}}
.u-two-columns.twenty-eighty > div:nth-child(2) {
  margin-left: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003123}}
.u-two-columns.seventy-thirty > div:nth-child(1) {
  width: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003126}}
.u-two-columns.seventy-thirty > div:nth-child(2) {
  margin-left: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003131}}
.u-two-columns.sixty-fourty > div:nth-child(1) {
  width: 60%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003134}}
.u-two-columns.sixty-fourty > div:nth-child(2) {
  margin-left: 60%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003139}}
.u-centre {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003142}}
.u-right {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003145}}
.u-ticker {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 25px 30px 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003148}}
.u-line-entry {
  border-bottom: 1px solid black;
  margin-top: 30px;
  margin-right: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003154}}
[class^="u-icon-"], [class*="u-icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003167}}
.u-icon-ok {
  background-position: -288px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003171}}
.padded-box {
  margin: 10px 0 30px 0;
  padding: 10px;
  border: 1px solid black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003175}}
.padded-box > h4 {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003180}}
.photo {
  width: 390px;
  height: 360px;
  background-image: url("../images/photo2.png");
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003187}}
.priority {
  width: 45%;
  margin-left: 50%;
  border: 1px solid black;
  font-weight: bold;
  line-height: 2;
  padding: 0 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003194}}
.priority span {
  display: inline-block;
  width: 50%;
  border-right: 1px solid black;
  margin-right: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003204}}
.questionaire th,
.questionaire td {
  vertical-align: top;
  padding: 0.3em 0.5em 0.3em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003208}}
.questionaire td {
  background-color: white;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003212}}
.questionaire td.question {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/paulkelly\/Projects\/ember-apps\/pdf-generator-ember-saucelabs-coveralls\/app\/styles\/questionnaire\.scss}line{font-family:\00003215}}
.questionaire td.answer {
  font-weight: bold;
}
