

    <header class="header" role="banner">
        UK Visas &amp; Immigration
        <div class="article">
            <img style="width:255px; height:79px" src="images/barcode.jpg" />
        </div>
    </header>
    <div>
        <h1>Document Checklist</h1>

        <div class="article">
            <p>This checklist:</p>
            <ul>
                <li>describes the visa you have applied for;</li>
                <li>is used to record the documents you are providing in support of your application</li>
            </ul>
            <p>You will be asked to sign this checklist to confirm you have provided the documents listed and understand how your application will be dealt with.</p>
            <div class="priority">
                <span>Priority:</span>Standard</div>
        </div>

        <div class="article">
            <h3>Product</h3>
            <table class="questionaire">
                <tbody>
                    <tr>
                        <td>Category:</td>
                        <td>Visit Visa - Business Visitor</td>
                    </tr>
                    <tr>
                        <td>Validity period / Duration/Length of Visa:</td>
                        <td>2 years</td>
                    </tr>
                    <tr>
                        <td>Payment notification number:</td>
                        <td>2JCA000202325</td>
                    </tr>
                    <tr>
                        <td>Fee Paid:</td>
                        <td>1000 RMB / CNY</td>
                    </tr>
                    <tr>
                        <td>Date Paid:</td>
                        <td>12/12/2014</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="article">
            <h3>Applicant</h3>
            <div class="u-two-columns sixty-fourty">
                <div>
                    <table class="questionaire">
                        <tbody>
                            <tr>
                                <td>Applicant’s full name:</td>
                                <td>Mr Dermot Browne</td>
                            </tr>
                            <tr>
                                <td>Date of birth:</td>
                                <td>23 September 1960</td>
                            </tr>
                            <tr>
                                <td>Place of birth:</td>
                                <td>Shanghai</td>
                            </tr>
                            <tr>
                                <td>Nationality:</td>
                                <td>China</td>
                            </tr>
                            <tr>
                                <td>Passport / Travel Document number:</td>
                                <td>E123456789</td>
                            </tr>
                            <tr>
                                <td>Landline telephone number:</td>
                                <td>0123456789123</td>
                            </tr>
                            <tr>
                                <td>Mobile / Cellular:</td>
                                <td>077756789123</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>dermotbrowne@shangaix.zn</td>
                            </tr>
                            <tr>
                                <td>Submitted Date:</td>
                                <td>18 March 2014 14:53</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="photo">
                    </div>
                </div>
            </div>
        </div>

        <div class="article">
            <h3>Documents</h3>
            <p>All documents must be originals.</p>
            <p>You have agreed to include the following documents in your application.</p>
            <p>Please tick the box beside each document to confirm that you are providing that document:</p>

            <!-- <table class="u-with-tickers"> -->
            <table>
                <colgroup>
                    <col/>
                    <col style="width: 120px;" />
                    <col style="width: 120px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="u-right">Please tick to indicate the documents provided</th>
                        <th class="u-centre">
                            <div>Applicant</div>
                            <div><i class="u-icon-ok"></i>
                            </div>
                        </th>
                        <th class="u-centre">
                            <div>Official Use Only</div>
                            <div><i class="u-icon-ok "></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h4>Current/Valid Passport/Travel Document for Mr Dermot Browne</h4>
                            <p>Your passport should be complete and undamaged. It must have a page that is blank on both sides (so that your Visa can be attached). And it must not expire before your visit to the UK.</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>A Passport photo for Mr Dermot Browne</h4>
                            <p>Photo should have been taken within the last 6 months. There are rules about what your photograph should look like. To find out more about these rules, go to : https://www.gov.uk/photos-for-passports</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <p>A. N. Other document as indicated while completing application. (Would be shown on ‘Documents’ block.)</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <p>A. N. Other document as indicated while completing application. (Would be shown on ‘Documents’ block.)</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <p>A. N. Other document as indicated while completing application. (Would be shown on ‘Documents’ block.)</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                </tbody>
            </table>

            <p>If you do not provide your current passport and a passport photograph we will not be able to make a decision on your application. Please note that we may ask you to provide further documents at a later date. If you have a previous UK Visa in an old passport then please provide this passport also.</p>
        </div>
        
        <div class="u-page-break-before">
                <p>You <span class="important">may</span> provide any documents in support of your application:</p>
            <ul>
                <li>All documents must be in English. Translated documents must be authorised;</li>
                <li>Originals of documents must be provided;</li>
                <li>Copies of each document must be provided so that they can be retained and the originals can be returned to you.
                </li>
            </ul>
            <p>Further guidance is available at <a href="http://www.gov.uk/visas-immigration">www.gov.uk/visas-immigration</a>
            </p>
        </div>

        <div class="article">
            <table class="u-with-tickers">
                <colgroup>
                    <col/>
                    <col style="width: 120px;" />
                    <col style="width: 120px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="u-right">Please tick to indicate the documents provided</th>
                        <th class="u-centre">
                            <div>Applicant</div>
                            <div><i class="u-icon-ok"></i>
                            </div>
                        </th>
                        <th class="u-centre">
                            <div>Official Use Only</div>
                            <div><i class="u-icon-ok"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h4>Other Passports</h4>
                            <div class="u-three-columns">
                                <div>2nd Passport:</div>
                                <div>Number:</div>       
                                <div>_____________________</div>
                            </div>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="u-three-columns fifty-twenty-thirty">
                                <div>3rd Passport:</div>
                                <div>Number:</div>       
                                <div>_____________________</div>
                            </div>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Travel Documents</h4>
                            <p>Evidence of your permission to be in the country from which you are applying.</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Purpose of application (including any related arrangements).</h4>
                            <p>Evidence of arrangements made, such as:</p>
                            <p>tour details / flight details / letter of invitation / evidence of sponsors immigration status in the UK</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Evidence of current employment</h4>
                            <p>Evidence of the employment and all income stated on application form, such as:</p>
                            <p>letter from employer / pay slips / tax returns / business registration documents / business bank account statements</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Evidence of current studies</h4>
                            <p>Evidence of being in education.</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr class="u-avoid-page-break">
                        <td>
                            <p>Evidence of qualifications obtained.</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Finances</h4>
                            <p>Evidence of your income, such as:</p>
                            <p>Bank statements / bank books / bank letter / balance certificate / tax returns / crop receipts</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Evidence of ability to meet costs of trip, such as:</p>
                            <p>Bank statements of the person paying for the trip.</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Accommodation at home</h4>
                            <p>Evidence of assets like property or land, such as:</p>
                            <p>Property deed / mortgage statements / tenancy agreements / accountant’s letters / land registration documents</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Accommodation in UK</h4>
                            <p>Evidence of UK accommodation and travel details, such as:</p>
                            <p>Hotel booking confirmation / travel booking confirmation / travel agent confirmation / sponsor accommodation details</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Unaccompanied children</h4>
                            <p>Written consent from your parent or guardian for you to travel to the UK.</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Health</h4>
                            <p>TB certificate, OR</p>
                            <p>Letter/form from clinician stating a ‘TB certificate is not required’</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Additional Information</h4>
                            <p>Evidence of your marital status, such as:</p>
                            <p>Marriage certificate / civil partnership certificate / divorce certificate / death certificate</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr class="u-avoid-page-break">
                        <td>
                            <p>Evidence of family members remaining in your home country whilst you travel.</p>
                        </td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="article">
            <h3>Other Documents</h3>
            <p>Please list any other documents, not indicated above, that you are providing with your application:</p>
            <table class="no-borders-additional-spacing">
                <colgroup>
                    <col/>
                    <col style="width: 200px;" />
                    <col style="width: 200px;" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="u-right">Please tick to indicate the documents provided</th>
                        <th class="u-centre">
                            <div>Applicant</div>
                            <div><i class="u-icon-ok"></i>
                            </div>
                        </th>
                        <th class="u-centre">
                            <div>Official Use Only</div>
                            <div><i class="u-icon-ok"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="u-line-entry with-custom-positioning-2"></td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td class="u-line-entry with-custom-positioning-2"></td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td class="u-line-entry with-custom-positioning-2"></td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td class="u-line-entry with-custom-positioning-2"></td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td class="u-line-entry with-custom-positioning-2"></td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                    <tr>
                        <td class="u-line-entry with-custom-positioning-2"></td>
                        <td><div class="u-ticker"/></td>
                        <td><div class="u-ticker"/></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="article">
            <h3>Declaration</h3>
            <p>Please tick the following boxes to confirm you understand the application process.</p>
            <div class="u-three-columns border">
                <div>
                    <h4>Date:</h4>
                    <p class="u-line-entry with-custom-positioning"></p>
                </div>
                <div>
                    <h4>Applicant's Name:</h4>
                    <p class="u-line-entry with-custom-positioning"></p>
                </div>
                <div>
                    <h4>Applicant's Signature:</h4>
                    <p class="u-line-entry with-custom-positioning"></p>
                </div>
            </div>
            <p>Or</p>
            <div class="u-three-columns border">
                <div>
                    <h4>Date:</h4>
                    <p class="u-line-entry with-custom-positioning"></p>
                </div>
                <div>
                    <h4>Responsible Adult’s Name:</h4>
                    <p class="u-line-entry with-custom-positioning"></p>
                </div>
                <div>
                    <h4>Responsible Adult’s Signature:</h4>
                    <p class="u-line-entry with-custom-positioning"></p>
                </div>
            </div>
            <p></p>
            <div class="u-three-columns border">
                <h3>For official use only</h3>
                <div>
                    <h4>Date:</h4>
                    <p class="u-line-entry with-custom-positioning"></p>
                </div>
                <div>
                    <h4>Submission Officer’s Name:</h4>
                    <p class="u-line-entry with-custom-positioning"></p>
                </div>
                <div>
                    <h4>Submission Officer’s Signature:</h4>
                    <p class="u-line-entry with-custom-positioning"></p>
                </div>
            </div>
        </div>

        <div class="article">
            <h3>What to do next?</h3>
            <p>Attend the offices of vfs.global: http://www.vfsglobal.co.uk/china 15 minutes before the time of your appointment.
            </p>
            <p>This will be at [time here] on [date] at the following location:</p>
            <p>Wuchang District, Wuhan City, Hubei Province, 171 North Street, headquarters of the International c Han Dong 302 Zip Code: 430071</p>
            <p>A map is available at: http://www.vfsglobal.co.uk/china/images/wuhan_map.jpeg</p>
            <p>If you have any questions, contact</p>

            <div class="padded-box">
                <h4>China Telephone</h4>

                <p>Local opening times: 8:00am - 4:00pm</p>

                <p>You can call us on:</p>

                <p>
                    <h4>0086-10-84181724 or 0086-755-86243860 or 0086-755-86243861</h4>
                </p>

                <p>If you would prefer to dial a UK number direct please call:</p>

                <p>
                    <h4>00 44 1243 218 100</h4>
                </p>

                <p>This is a paid service and there is a cost of £1.37 UK Sterling per minute in addition to your standard network charges. Please have a valid credit or debit card ready to process your payment. We can accept Mastercard Credit and Debit cards, and Visa Credit and Debit cards. You will not be charged until you are connected to an advisor. Calls may be recorded for training purposes. We are able to handle your calls in English, Mandarin or Cantonese.</p>
            </div>

            Your fingerprints will be taken during your appointment unless you are under 5 years old or are exempted, such as diplomats or x,y and z.
        </div>
    </div>
