<div>
      <header class="header" role="banner">
         UK Visas &amp; Immigration
      </header>
      <div class="block-container">
        <main role="main">
            <h1>Document Checklist</h1>
            <div class="main">
                This checklist:
                <ul>
                    <li>describes the visa you have applied for;</li>
                    <li>is used to record the documents you are providing in support of your application</li>
                </ul>
                You will be asked to sign this checklist to confirm you have provided the documents listed and understand how your application will be dealt with. 
                <p>
                The above needs copyrighting    
                </p>
                <h3>Product</h3>
                <div class="two-col-col1">
                    <div class="labels">
                        <ul class="plain">
                            <li>Category:</li>
                            <li>Validity period / Duration/Length of Visa:</li>
                            <li>Payment notification number: </li>
                            <li>Fee Paid:</li>
                            <li>Date Paid:</li>
                        </ul>
                    </div>
                </div>
                <div class="two-col-col2">
                    <div class="text-entry">
                        <ul class="plain">
                            <li>Visit Visa - Business Visitor </li>
                            <li>2 years</li>
                            <li>2JCA000202325</li>
                            <li>1000 RMB / CNY</li>
                            <li>12/12/2014</li>
                        </ul>
                    </div>
                </div>

                <h3>Applicant</h3>
                <div class="three-col-col1">
                    <div class="labels">
                        <ul class="plain">
                            <li>Category:</li>
                            <li>Validity period / Duration/Length of Visa:</li>
                            <li>Payment notification number: </li>
                            <li>Fee Paid:</li>
                            <li>Date Paid:</li>
                        </ul>
                    </div>
                </div>
                <div class="three-col-col2">
                    <div class="text-entry">
                        <ul class="plain">
                            <li>Visit Visa - Business Visitor </li>
                            <li>2 years</li>
                            <li>2JCA000202325</li>
                            <li>1000 RMB / CNY</li>
                            <li>12/12/2014</li>
                        </ul>
                    </div>
                </div>
                <div class="three-col-col3">
                    <div class="text-entry">
                        <ul class="plain">
                            <li>Visit Visa - Business Visitor </li>
                            <li>2 years</li>
                            <li>2JCA000202325</li>
                            <li>1000 RMB / CNY</li>
                            <li>12/12/2014</li>
                        </ul>
                    </div>
                </div>
        </div>
</div>
